td {
    border: 1px solid black;
    width: 33%;
    text-align: right;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
}

th {
    border: 2px solid #000;
    text-align: right;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-bottom: 2px solid #000;
}